<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.example.dirwatch_claude</string>
  <key>WatchPaths</key>
  <array>
      <string>/Users/jmales/.claude/shell-snapshots</string>
  </array>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/jmales/utilities/mac/claude/alias_fix.sh</string>
  </array>
</dict>
</plist>
